body{
    background-image: url("https://besthqwallpapers.com/Uploads/23-3-2018/45388/thumb2-isometric-mountains-4k-creative-3d-landscapes-polygons.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #6772c9;
}

.phrase{
    background-color: rgb(95, 90, 90);
    border-radius: 10px;
    width: 100%;
    height: 5%;
    margin-bottom: 2%;
}

.divblanche{
    width: 90%;
    height: 50%;
    background-color: #ffffffb8;
    border: solid #000000;
}

.divblanche > div > form > p > input{
    padding:3px;
    border:1px solid #F5C5C5;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

.logo{
    width: 70%;
    height: auto;
}

h2{
    text-align: center;
    text-decoration: underline;
    font-size: 2vw;
}
nav{
    width: 100%;
    background-color: gray;
    border-radius: 10px;
}

nav > ul::after{
    content: "";
    display: block;
    clear: both;
}

nav > ul{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

nav > ul > li {
    float: left;
    margin: 2px;
    position: relative;
    width: 10%;
    font-size: 1vw;
}

.actadmin{
    float: left;
}

.actuser{
    float: right;
}

nav li {
    list-style-type: none;
}

nav a{
    display: inline-block;
    text-decoration: none;
}

nav > ul > li >a {
    padding: 20px;
    color: #FFF;
}

.actadmin:hover{
    border-top: 5px solid salmon;
    background-color: rgb(110, 67, 62);
}

.actuser:hover{
    border-top: 5px solid rgb(0, 26, 255);
    background-color: rgb(22, 36, 163);
}

table {
    border: 2px solid rgb(0, 0, 0);
}
  
td {
    border: 1px solid rgb(0, 0, 0);
}

th {
    background-color: rgb(182, 177, 177);
}

td {
    text-align: center;
}