
body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin:0px;
	padding:0px;
}

div {
	width:100%;
	background-color:#424558;
}

 div > ul {
		margin:0px;
		padding:0px;
}

div > ul > li {
	float: left;
	position: relative;
}

div li {
	list-style-type: none;
}

.submenu {
	display: none;
}

div > ul > li {
	padding: 20px 30px;
	color: green;
}