


.a_numb {text-align: left;
margin-bottom: 0}

.symbol {text-align: center;}

.density {text-align: right;
margin-top :0;}

table {
	width:fit-content;
	height: fit-content;
}

th {
	align-content: center;
}

.pic {height: 10vw;}

td {
	border: 0.1vw solid black;
	width :fit-content;
	font-size: 1vw;
}


.noble {background: cyan}

.alcanins {background: coral}

.earth_alcanins {background : beige}

.metalloides {background : rgb(95, 89, 30)}

.not_metal {background : rgb(199, 248, 125)}

.halogens {background : yellow}

.poor_metal {background : gray}

.trans_metal {background : pink}

.lanthanides {background : purple}

.actinides {background : plum}

.synth {background : lightgrey}

.no_border {border:transparent}